@import "var";
.banner{
    width: 100%;
    position: relative;
    img{
        width: 100%;
        display: block;
    }
    .banner-po{
        width: 100%;
        height: 30px;
        position:absolute;
        bottom:25px;
        .banner-ul{
            width:217px;
            height:30px;
            margin: 0 auto;
            li{
                float: left;
                &.btn-left{
                        width:29px;
                        height: 29px;
                        border-radius: 29px;
                        border: none;
                        cursor: pointer;
                        background-image: url(../../dist/images/banner-btn-left.png);
                        &:hover{
                            background-image: url(../../dist/images/banner-btn-left-hover.png);
                        }
                }
                &.center{
                    width: 45px;
                    height: 14px;
                    padding: 7px 50px;
                    background-image: url(../../dist/images/pro-content-line.png);
                    background-repeat: no-repeat;
                    background-position-y: center;
                    .spans{
                        width:45px;
                        height: 14px;
                        background: #e7eefe; 
                        border-radius: 8px;
                        border: 1px solid #eae6e3;
                        span{
                            width: 6px;
                            height: 6px;
                            display: block;
                            background-color: #ded7d1;
                            border-radius: 100%;
                            float:left;
                            margin-left:7px; 
                            margin-top: 4px; 
                            &:hover{
                                background-color: blue;
                            }
                            &.active{
                                background-color: blue;
                            }
                        }
                    }
                }
                &.btn-right{
                        width:29px ;
                        height: 29px;
                        border-radius: 100%;
                        border: none;
                        cursor: pointer;
                        outline: none;
                        background-image: url(../../dist/images/banner-btn-right.png);
                        &:hover{
                            background-image: url(../../dist/images/banner-btn-right-hover.png);
                        }
                }
            }
            
            
        }
    }
}
    
    
    

 