@import 'var';
.products{
    width: 100%;
    height: 1080px;
    background-color: #f1f2f6;
    .public{
        text-align: center;
        h1{
            font-weight:bolder;
            margin: 0;
            padding: 30px 0;
            color: @colorProducts;
        }
        p{
           color: @colorProducts; 
           margin: 0;
           font-family: KaiTi_GB2312;
           line-height: 25px;
        }
        .products-spans{
            padding: 20px 0 50px 0;
            padding-left:520px;
               span{
                    width: 6px;
                    height: 6px;
                    border-radius: 6px;
                    border: 1px solid @banner-span-bg;
                    background-color: blue;
                    float: left;
                    cursor: pointer;
                    margin-left: 10px;
                   
                    }
            
        }
        .product-choice{
            width: 100%;
            height: 316px;
            background: url(../../dist/images/product-line-text.png) no-repeat;
            background-position-y: 55px;
            .product-choice-ul{
                width: 100%;
                height: 316px;
                position: relative;
                .choice-li{
                    width:145px;
                    height: 100px;
                    float: left;
                    margin: 0 20px;
                    .i2{
                        font-style:normal;
                        font-size: 16px;
                        width: 100%;
                        text-align: center;
                        padding-top: 10px;
                        &:hover{
                            padding-top: 20px;
                            transition: padding-top 0.2s; 
                        }
                       
                    }
                    .nav2{
                        width:42px;
                        height: 42px;
                        margin: 17px 55px 0 55px;
                        background: beige;
                        cursor: pointer;
                        background: url(../../dist/images/nav2-sapn.png) no-repeat;
                        background-position-x:10px;
                        background-position-y: 14px; 
                        &:hover{
                            background: url(../../dist/images/product-active.png) no-repeat;
                        }
                        &.active{
                            background: url(../../dist/images/product-active.png) no-repeat;
                        }
                    }
                    .p2{
                        font-size: 16px;
                        text-align: center;
                        padding-top: 30px;
                         &:hover{
                            padding-top: 45px;
                            transition: padding-top 0.2s;
                        }
                    }
                }
            .product-down{
                width: 75px;
                height: 61px;
                background-image: url(../../dist/images/nav2-down.png);
                position: absolute;
                top: 200px;
                left: 230px;
            }
        }
    }    
        .pro{
            width: 100%;
            position: relative;
            .pro-spans{
                width: 19px;
                float: left;
                margin-top: 30px;
                height: 380px;
                background-image: url(../../dist/images/pro-line-.png);
                background-repeat: no-repeat;
                background-position-x: center;
                span{
                    width: 11px;
                    height: 11px;
                    display: block;
                    border-radius: 11px;
                    margin-top: 64px;
                    background-image: url(../../dist/images/pro-span.png);
                    background-position-x: -2px;
                    background-repeat: no-repeat;
                    transform:rotate(180deg);
                    &:hover{
                        background-image: url(../../dist/images/pro-nav.png);
                        background-repeat: no-repeat;
                        background-position-y: -11px;
                        transition: background-position-y 0.3s;
                    }
                    &.active{
                        width:18px;
                        height: 18px;
                        border-radius: 100%;
                         background-image: url(../../dist/images/pro-span-first.png);
                         background-repeat: no-repeat;
                    }
                    
                }
            }
            .pro-img-btn{
                       width: 614px;
                       height: 29px;
                       background-image: url(../../dist/images/pro-content-line.png);
                       background-repeat-y:no-repeat;
                       background-position-y:center ;
                       position: absolute;
                       top: 250px;
                       right: 10px;
                       z-index: 4;
                       button{
                           width: 29px;
                           height: 29px;
                           border-radius: 29px;
                           border: none;
                           &.pro-btn-left{
                               float: left;
                               background-image: url(../../dist/images/banner-btn-left.png);
                               &:hover{
                                   background-image: url(../../dist/images/banner-btn-left-hover.png);
                               }
                           }
                           &.pro-btn-right{
                               float: right;
                               background-image: url(../../dist/images/banner-btn-right.png);
                               &:hover{
                                   background-image: url(../../dist/images/banner-btn-right-hover.png);
                               }
                           }
                       }
                   }
            .contents{
                position: relative;
                width: 1040px;
                margin-left: 100px;
                height: 440px;
                overflow: hidden;
                .content1{
                    position: absolute;
                    width: 1040px;
                    display: none;
                    float: right;
                    height: 440px;
                    .pro-img{
                        display: block;
                        position: absolute;
                        left: 0;
                        right: 0;
                        padding-right: 30px;
                    }
                    .pro-study{
                        width: 640px;
                        position: absolute;
                        left: 400px;
                        right:0px;
                        padding-left: 10px;
                        text-align: left;
                        .penImg{
                            width: 619px;
                            height: 72px;
                            h1{
                                  display:inline-block;
                                  padding-top: 10px;
                                  padding-bottom: 25px;
                                  margin: 0;
                                  color: @colorProducts;
                           }
                           .pen-line{
                               width: 558px;
                               height: 2px;
                               float: left;
                               background-image: url(../../dist/images/pen_line.png);
                           }
                           .pen{
                               width: 61px;
                               height: 54px;
                               float: left;
                               margin-top: -50px;
                               background-image: url(../../dist/images/pen.png);
                           }
                        }
                       .bird{
                           width: 100%;
                           padding: 24px 0;
                           img.bird{
                               display: block;
                               width: 96px;
                               height: 96px;
                               float: left;
                               padding-right: 10px;
                           }
                           h3{
                               padding-left: 10px;
                               text-align: left;
                               color: #565559;
                           }
                           p{
                               line-height: 25px;
                               padding-left: 10px;
                               color: #565559;
                           }
                       }
                       .art-i{
                           padding: 20px 0;
                           i{
                                width: 100%;
                                line-height: 25px;
                                text-align: left !important;
                                font-style: normal;
                                color: #565559;
                            } 
                       }
                       .quotes{
                           width: 200px;
                           height: 50px;
                           padding-top: 20px;
                           float: right;
                           .quotes-left{
                               width: 20px;
                               height: 18px;
                               cursor: pointer;
                               float: left;
                               margin-top: -12px;
                               background-image: url(../../dist/images/quote-left.png);
                               &:hover{
                                  background-image: url(../../dist/images/quote-left-hover.png); 
                               }
                           }
                           i{
                               float: left;
                               font-style: normal;
                           }
                           .quote-right{
                               width: 20px;
                               height: 18px;
                               float: right;
                               margin-top: 12px;
                               cursor: pointer;
                               background-image: url(../../dist/images/quote-right.png);
                               &:hover{
                                  
                                   background-image: url(../../dist/images/quote-right-hover.png);
                               }
                           }
                       }
                       
                    }
                }   
                .content2{
                    position: absolute;
                    width: 1040px;
                    float: right;
                    height: 440px;
                    display: none;
                    .pro-img2{
                       position: absolute;
                       left: 0;
                       right: 0; 
                       display: block;
                       padding-right: 30px;
                    }
                    .pro-study2{
                        width: 640px;
                        position: absolute;
                        left: 400px;
                        right: 0;
                        text-align: left;
                       .penImg2{
                            width: 619px;
                            height: 72px;
                            h1{
                                display:inline-block;
                                padding-top: 10px;
                                padding-bottom: 25px;
                                margin: 0;
                                color: @colorProducts;
                           }
                           .pen-line{
                               width: 558px;
                               height: 2px;
                               float: left;
                               background-image: url(../../dist/images/pen_line.png);
                           }
                           .pen{
                               width: 61px;
                               height: 54px;
                               float: left;
                               margin-top: -50px;
                               background-image: url(../../dist/images/pen.png);
                           }
                       }
                       .art-i2{
                           padding: 20px 0;
                           p{
                               line-height: 25px;
                               color: #565559;
                               span{
                                   font-size: 40px;
                               }
                           }
                       }
                       .quotes{
                           width: 190px;
                           height: 50px;
                           padding-top: 100px;
                           float: right;
                           .quotes-left{
                               width: 20px;
                               height: 18px;
                               cursor: pointer;
                               float: left;
                               margin-top: -12px;
                               background-image: url(../../dist/images/quote-left.png);
                               &:hover{
                                  background-image: url(../../dist/images/quote-left-hover.png); 
                               }
                           }
                           i{
                               float: left;
                               font-style: normal;
                               color: #565559;
                           }
                           .quote-right{
                               width: 20px;
                               height: 18px;
                               float: right;
                               margin-top: 12px;
                               cursor: pointer;
                               background-image: url(../../dist/images/quote-right.png);
                               &:hover{
                                  
                                   background-image: url(../../dist/images/quote-right-hover.png);
                               }
                           }
                       }
                        
                    }
                }
                .content3,.content5{
                    float: right;
                    width: 1040px;
                    position: absolute;
                    height: 440px;
                    display: none;
                    .pro-img3,.pro-img4{
                       display: block;
                       padding-right: 30px;
                    }
                    .pro-study2{
                        width: 640px;
                        position: absolute;
                        left: 400px;
                        right: 0;
                        top:-1px;
                        text-align: left;
                       .penImg2{
                            width:619px; 
                            height: 72px;
                            h1{
                                display:inline-block;
                                padding-top: 10px;
                                padding-bottom: 25px;
                                margin: 0;
                                color: @colorProducts;
                           }
                           .pen-line{
                               width: 558px;
                               height: 2px;
                               float: left;
                               background-image: url(../../dist/images/pen_line.png);
                           }
                           .pen{
                               width: 61px;
                               height: 54px;
                               float: left;
                               margin-top: -50px;
                               background-image: url(../../dist/images/pen.png);
                           }
                       }
                       .art-i2{
                           padding: 55px 0;
                               p{
                                    line-height: 25px;
                                    color: #565559;
                               }
                           }
                       }
                       
                        
                    }
                
                .content4, .content6{
                    float: right;
                    width: 1040px;
                    position: absolute;
                    height: 440px;
                    display: none;
                    .pro-img4{
                       position: absolute;
                       left: 0;
                       right: 0; 
                       display: block;
                       padding-right: 30px;
                    }
                    .pro-study2{
                        width: 640px;
                        position: absolute;
                        left: 400px;
                        right: 0;
                        text-align: left;
                       .penImg2{
                            width: 619px;
                            height: 72px;
                            h1{
                                display:inline-block;
                                padding-top: 10px;
                                padding-bottom: 25px;
                                margin: 0;
                                color: @colorProducts;
                           }
                           .pen-line{
                               width: 558px;
                               height: 2px;
                               float: left;
                               background-image: url(../../dist/images/pen_line.png);
                           }
                           .pen{
                               width: 61px;
                               height: 54px;
                               float: left;
                               margin-top: -50px;
                               background-image: url(../../dist/images/pen.png);
                           }
                       }
                       .art-i2{
                           padding: 40px  0;
                               p{
                                    line-height: 25px;
                                    color: #565559;
                               }
                           }
                       }
                    }
                }
            }
         
        } 
            
    }


    
